h1 {
    background-color: yellow;
    color: red;
}

ul li {
    font-size: 20px;
}

li{
    color: red;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.first-alinea {
    background-color: wheat;
    color: green;
}

.listitem-with-link {
    color: initial;
}